/**/

html {
    margin: auto;
}

li, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

body {
    color: black;
    font-family: 'Helvetica Neue Regular', 'Helvetica Neue Bold';
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

/*mobile size */


/* #main-nav button {
    background: url(../images/hamburger-menu.svg) no-repeat center;
    width: 30px;
    height: 30px;
    border: 0;
    margin-top: 30px;
    transition: all .5s ease;
} */

.testimonials-block {
    display: none;
}

.desk-headingk {
    display: none;
}



/*Tablet Screen*/

@media screen and (min-width: 768px) {
    .testimonials-block {
        display: block;
    }

    .desk-headingk {
        display: block;
    }

    .course-img {
        grid-row: 2;
    }

    .dev-img {
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .mobile-heading {
        display: none;
    }

}

/*Desktop Screen*/

@media screen and (min-width: 1200px) {

}

