/*main style*/

html {
    margin: auto;
}

li, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

body {
    color: black;
    font-family: 'Helvetica Neue Regular', 'Helvetica Neue Bold';
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

h2, h3, h4, h5, h6 {
  font-size: 20px;
  line-height: 25px;
}

p {
  font-size: 15px;
  line-height: 20px;
}

/*mobile size */

.testimonials-block {
    display: none;
}

.desk-heading {
  display: none;
}


/*------------------mobile size menu--------------*/

#sticky-nav-con {
  position: absolute;
}

.hamburger {
    position: relative;
    width: 30px;
    display: flex;
    margin: 30px;
    flex-direction: column;
    cursor: pointer;
    z-index: 11; 
  }
  
  .line {
    width: 100%;
    margin-bottom: 6px;
    height: 2.5px;
    background-color: #d12626; 
  }

  .line.active{
    background-color: #ffffff; 
  }
    
  .mobile-nav{
   display: flex;
   position:absolute;
   flex-direction: column;
   background-color: rgba(216, 58, 58, 1);
   height: 360px;
   width: 500px;
   padding-top:80px ;
   padding-bottom: 40px;
   z-index: 10;
   right: -500px;
  }

  .mobile-nav button{
    width: 90px;
    border: none;
    margin-bottom: 5px;
    margin-left: 40px;
    color: white;
    background-color: transparent;
    font-size: 15px;
    text-align: left;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    cursor: pointer;
    
  }

  .logo-burger{
    position: relative;
    height: 40px;
    top: -60px;
    left: -110px;}
  
  
  .social-media{
    position: relative;
    display:flex;
    gap: 10px;
    height: 40px;
    width: 120px;
    left:320px;
    bottom: 7px;
  }
 
  /*hamburer menu animation*/

  .hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(3px, 6px);
  }
  
  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -10px);
  }

  .mobile-nav.translated {
    transform: translateX(-500px);
    transition: transform 0.4s ease-in-out;
}

#logo {
  grid-row-start: 1;
}


  #hero img{
    grid-column: 1/-1;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
  }

  #hero #hero-header {
    grid-column: 2/3;
    grid-row-start: 2;
    margin: 0;
 }

 #hero-header {
  display: block;
 }

 /* #hero h3 {
  font-size: 70px;
 } */



  



/*Tablet Screen*/

@media screen and (min-width: 768px) {


    .desk-heading-box{
        width: 20px;;
    }

    .testimonials-block {
        display: block;
    }

    .desk-heading {
        display: block;
    }

    .course-img {
        grid-row: 2;
    }

    .dev-img {
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .mobile-heading {
        display: none;
    }
    
    .mobile-nav{
      display: none;
    }
    .hamburger{
      display: none;
    }

    #portfolios {
      overflow: hidden;
     }

}



/*Desktop Screen*/

@media screen and (min-width: 1200px) {
  /* #logo{
    width: 280px;
    margin-left: 430px;
    margin-top: 0;
    margin-bottom: 400px;
  } */
  
  .mobile-nav{
    display: none;
  }
  .hamburger{
    display: none;
  }
}



