/*main style*/

html {
  margin: auto;
}

li, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  transition: all .5s ease-in-out;
}

body {
  color: black;
  font-family: Helvetica, sans-serif;
  /* background-color: #CBC8C8;
  background-image: linear-gradient(0deg, #CBC8C8, #fffcfc); */
}

input, textarea {
  display: block;
  margin: 0;
  padding: 0;
}

h2 {
  padding-bottom: 15px;
}

h2, h3, h4, h5, h6 {
  font-size: 20px;
  line-height: 20px;
  color: #CE3B32;
}

p {
  font-size: 15px;
  line-height: 20px;
}

button {
  border: none;
  background-color: transparent
}


/*Mobile screen*/

/*header start*/

#sticky-nav-con {
  position: absolute;
}

.hamburger {
  position: relative;
  width: 30px;
  display: flex;
  margin: 30px;
  flex-direction: column;
  cursor: pointer;
  z-index: 3;
}
  
.line {
  width: 100%;
  margin-bottom: 6px;
  height: 3.5px;
  background-color: black; 
}

.line.active {
  background-color: #ffffff; 
}
    
.mobile-nav{
  position: absolute;
  flex-direction: column;
  background-color: rgba(216, 58, 58, 1);
  left: -10px;
  z-index: 2;
}

  .hide {
  display: none;
}

.mobile-nav {
  width: 500px;
  height: 400px;
  padding-top: 50px;
}

.mobile-nav ul li{
  line-height: 20px;
  font-size: 15px;
  cursor: pointer;
  padding-left: 35px;
  margin-top: 5px;
}

.mobile-nav ul li a {
  list-style: none;
  color: #ffffff;
  font-size: 17px;
}

#white-logo {
  width: 300px;
  padding-bottom: 10px;
}

  #social-media {
  float: right;
  width: 180px;
}
  
  #social-media img {
  padding-right: 10px;
  width: 40px;
  margin-top: -20px;
}

 
/*menu animation*/

.hamburger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(3px, 7px);
}
  
.hamburger.active .line:nth-child(2) {
  opacity: 0;
}
  
.hamburger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -10px);
}


#logo {
  grid-row-start: 1;
  z-index: 1;
}

#hero {
  position: relative;
  /* height: 100vh; */
  overflow: hidden;
}

#hero img{
  grid-column: 1/-1;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
}

#hero #hero-header {
  grid-column: 2/3;
  grid-row-start: 2;
  margin: 0;
}

#hero-header {
  display: block;
  padding-left: 25px;
  padding-bottom: 40px;
  position: relative;
}

#hero h3 {
  font-size: 60px;
  line-height: 55px;
  color: white;
  padding-left: 10px;
  filter: drop-shadow(5px 5px 5px grey);
}

#hero p {
  color: #CE3B32;
  font-size: 13px;
  filter: drop-shadow(5px 5px 5px grey);
  /* line-height: 5px; */
}

.heading-left {
  transform: rotate(270deg);
  position: absolute;
  padding-bottom: 150px;
  top: 2%;
}

#register-but {
  padding-top: 20px;
}

#register-but button {
  background-image: url(../images/button.svg);
  background-repeat: no-repeat;
  background-size:inherit;
  width: 150px;
  height: 30px;
  color: white;
  filter: drop-shadow(3px 3px 5px rgb(41, 41, 41));
}



#register-but button:hover {
  transform: scale(1.10);
}

/*header end*/

/*Event Details*/


#event-details {
  background-image: url(../images/event-detail-bg.jpg);
  background-size: cover;
  background-position: top 90px;
  background-repeat: no-repeat;
  /*Basic margin size for each section*/
  margin: 5px auto;
  padding:30px 20px;
}

.description {
  padding-bottom: 10px;
}

.where-when {
  padding-top: 20px;
}

.line-start {
  width: 400px;
  justify-content: center;
  padding: 10px 0;
}

#where-icon {
  width: 20px;
}

.line-end {
  border-bottom: 3px solid #CE3B32;
  margin: 30px 0;
  width: 270px;
  float: right;
}

.fa-regular, .fa-calendar, .fa-solid, .fa-location-dot {
  font-size: 30px;
  color: #CE3B32;
}

.location, .date {
  display: flex;
}

.icon {
  margin: 10px 10px;
}

.location p, .date p {
  margin: 10px 10px;
}

.schedule {
  border: 2px solid #CE3B32;
  /* padding-left: 15px;
  padding-top: 10px; */
  padding: 10px 0 15px 15px;
  margin-bottom: 5px;
  background-color: white;
  cursor: pointer;
}

.schedule:hover {
  background-color: #CE3B32;
  transform: scale(1.025);
  color: white;
}

.location-s {
  display: flex;
}

.icon-s {
  font-size: 15px;
  margin-left: -3px;
  padding-top: 8px;
  padding-right: 10px;
}

.location-s p {
  padding-top: 6px;
  font-size: 15px;
}

/*Event Video*/

#event-video {
  background-image: url(../images/video-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px auto;
  padding:40px 20px;
}


#event-video h4 {
  color: black;
}

#event-video p {
  padding: 15px 0;

}

/*Video player*/

#player-container {
  position: relative;
}


.video-controls.hidden {
display: none;
}

.video-controls {
  right: 0;
  left: 0;
  padding: 20px;
  position: absolute;
  bottom: 0px;
  transition: all 0.2s ease;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  display: flex;
}

.video-controls.pannel {
  opacity: 0;
  pointer-events: none;
}

#video-controls button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.title-label {
  background-image: url(../images/title-label.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  margin-bottom: -20px;
  padding: 10px 0;

}

.title-label p {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

/*Video Control PLayer*/

#video-controls .fa-play, .fa-pause, .fa-stop {
  padding-right: 20px;
  font-size: 20px;
}

.fa-volume-up {
  margin-right: auto;
}

.fa-up-right-and-down-left-from-center {
  font-size: 20px;
  padding-left: 10px;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 10rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ce3b32;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #c1bebe;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1.5rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #c1bebe;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #ce3b32;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #c1bebe;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1.5rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #c1bebe;
  outline-offset: 0.125rem;
}



/*Finalist section*/

#finalist {
  margin-top: 5px;
  padding: 30px 20px;
  background-color: #CBC8C8;
  background-image: linear-gradient(0deg, #CBC8C8, #fffcfc);
}

.project-title {
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
}

#finalist-label {
  margin-bottom: 0;
}

.gallery {
  display: flex;
  max-width: 500px;
  overflow: hidden;
  margin: 0 auto;
}

.finalist-gallery {
  position: relative;
  text-align: center;
}

#gallery img {
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.finalist-nav {
  align-self: center;
}

.gallery-nav li button {
  position: absolute;
  top: 50%;
  padding: 10px 0;
  cursor: pointer;
}

#next {
  right: 0;
}

#prev {
  left: 0;
}

.gallery-nav {
  display: flex;
  justify-content: center;
}

.finalist-details {
  margin: 20px 20px;
}

.finalist-details h4 {
  color: black;
  padding-bottom: 10px;
}

/*Photo Gallery*/

#photo-gallery {
  justify-content: center;
  align-self: center;
  width: 420px;
}

#photo-gallery img {
  padding-bottom: 10px;
}

#mobile-photos {
  padding-top: 20px;
  text-align: center;
}

#mobile-photos li button {
  width: 15px;
  height: 15px;
  background-color: #CE3B32;
  cursor: pointer;
  border-radius: 50%;
}

#mobile-photos li {
  display: inline;
  padding-right: 5px;
}

#mobile-photos li button:hover {
  transform: scale(1.125);
}


/*testimonials section*/

#testimonial {
  margin: 5px auto;
  padding:30px 20px;
  background-color: #CBC8C8;
  background-image: linear-gradient(0deg, #CBC8C8, #fffcfc);
}

#testimonial div p {
  font-size: 12px;
  line-height: 15px;
  padding: 0 10px;
}

#testimonial div h3 {
  font-size: 17px;
  padding: 0 10px;
}

.desk-size {
display: none;
}

/*Program Section*/

#program {
  margin: 5px auto;
  padding:30px 20px;
  background-color: #CBC8C8;
  background-image: linear-gradient(0deg, #CBC8C8, #fffcfc);
}

#program  h3 {
  padding-bottom: 10px;
}


.program-img {
  text-align: center;
  padding-top:20px;
}

.program-img img {
  width: 500px;
}

.program-button {
  float: right;
}

.program-button span {
  background-image: url(../images/button.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 160px;
  height: 30px;
  margin-top: 20px;
  display: block;
  filter: drop-shadow(3px 3px 5px rgb(164, 164, 164));
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}
.program-button a {
  height: 30px;
  padding-top: 5px;
  display: block;
  text-align: center;
  color: white;
}

.program-button:hover {
  transform: scale(1.025);
}

/*Developer*/

#developer {
  margin: 5px auto;
  padding:30px 20px;
  background-color: #CBC8C8;
  background-image: linear-gradient(0deg, #CBC8C8, #fffcfc);
}

.dev-details {
  position: relative;
}

#dev-label {
  margin-bottom: -5px;
}

#dev-gallery {
  text-align: center;
  width: auto;
  margin: 0 auto;
  max-width: 600px;
  overflow: hidden;
}

#dev-gallery img {
  width: 300px;
  padding-bottom: 10px;
}

#dev-gallery li button {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

#dev-but {
  align-self: center;
}

#dev-prev {
  left: 0;
}

#dev-next {
  right: 0;
}

/*Portfolio*/

#portfolios {
  margin: 5px auto;
  padding:30px 20px 0px 20px;
  margin-bottom: -20px;
  background-color: #CBC8C8;
  background-image: linear-gradient(0deg, #CBC8C8, #fffcfc);
}

.student-box {
  border-bottom: 3px solid #CE3B32;
  margin-bottom: 10px;
  height: 80px;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}

.student-box h4 {
  color: black;
  font-weight: 600;
  padding-bottom: 5px;
  font-size: 15px;
}

.student-box p {
  padding-bottom: 10px;
  font-size: 12px;
}

.student-box:hover {
  /* box-shadow: 3px 3px 7px rgb(96, 96, 96); */
  transform: scale(1.045);
}

/*Footer*/

#sticky-footer {
  padding-bottom: 30px;
  padding-top: 60px;
  background-color: black;
  background-image: linear-gradient(0deg, #000000, #CBC8C8);
}

#sticky-footer p {
  font-size: 10px;
  color: white;
}

.social-media-footer {
  justify-content: right;
}

.social-media-footer img {
  padding-right: 5px;
  cursor: pointer;
}

.social-media-footer img:hover {
  transform: scale(1.25);
}




/*Tablet Screen*/

@media screen and (min-width: 768px) {


/*header start*/

.mobile-nav{
  display: none;
}
/*header end*/

#hamburger {
  display: none;
}

#white-logo {
  display: none;
}
  
#social-media {
  display: none;
}

#hero-header {
  display: block;
  padding-left: 25px;
  padding-bottom: 25%;
}

.heading-left {
  top: 7%;
  padding-bottom: 160px;
}


#hero img {
  height: auto;
}

#hero h3 {
  font-size: 75px;
  line-height: 70px;
  padding-left: 20px;
}

#hero p {
  color: #CE3B32;
  font-size: 16px;
  filter: drop-shadow(5px 5px 5px grey);
  /* line-height: 5px; */
}

#menu-bar {
  grid-row-start: 3;
  grid-row-end: 4;
}

#menu-bar img {
  width: 30px;
}

#menu-bar nav {
  width: 90%;
  max-width: 1200px;
  position: relative;
  margin: 20px auto;
}









/*header end*/


/*testimonials section*/

.testimonials-block {
  display: block;
}

.desk-size {
  display: block;
}

.mobile-size {
  display: none;
}

/*IDP program section*/

.program-img {
  grid-row: 2;
}

/*Developers section*/

.dev-img {
  grid-row-start: 1;
  grid-row-end: 4;
}

/*Portfolios*/

#portfolios {
  overflow: hidden;
}

     

}

/*Desktop Screen*/

@media screen and (min-width: 1200px) {

  /*header start*/
  
  .mobile-nav{
    display: none;
  }
  .hamburger{
    display: none;
  }


#hero-header {
  display: block;
  padding-left: 25px;
  padding-bottom: 30%;
}

.heading-left {
  padding-bottom: 180px;
}

#hero h3 {
  line-height: 100px;
  padding-left: 20px;
}

#hero p {
  color: #CE3B32;
  font-size: 18px;
}

  /*header end*/




}



